* {
    padding: 0;
    margin: 0;
}

body {
    width: 100vw;
    height: 100vh;
}

#header {
    width: 100%;
    height: 20%;
    box-sizing: border-box;
}

#title {
    width: 100%;
    height: 44%;
    display: flex;
    box-sizing: border-box;
    align-items: center;
    padding-left: 25px;
    padding-right: 20px;
    border: 1px solid #E4E4E4;
}

#blog_name {
    font-size: 35px;
    font-weight: bold;
    margin-bottom: 3px;
}

#profile_div {
    box-sizing: border-box;
    position: absolute;
    right: 1.5%;
    width: 58px;
    height: 58px;
    padding: 4px;
}

#profile {
    display: block;
    width: 50px;
    height: 50px;
}

#profile_img {
    display: block;
    width: 100%;
    border-radius: 50%;
    height: 100%;
    background: url("../img/photo.png");
    background-repeat: no-repeat;
    background-size: cover;
}

#profile_img:hover {
    border-radius:50%;
    box-shadow: 0px 0px 0px 6px #093;
}

#search_div {
    width: 87%;
    height: 80%;   
    display: flex;
    justify-content: center;
    align-items: center;
}

#search_bar {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 33%;
    box-sizing: border-box;
    border: 1px solid #E4E4E4;
}

#search_sentence {
    width: 85%;
    height: 90%;
    outline: none;
    border: none;
    font-size: 20px;
}

#search_btn {
    width: 5vh;
    height: 79%;
    border: none;
    background: url("../img/search_btn.png");
    background-repeat: no-repeat;
    background-size: contain;
    outline: none;
    cursor: pointer
}

#menu {
    width: 100%;
    height: 23%;
    box-sizing: border-box;
    border: 1px solid #E4E4E4;
    display: flex;
    justify-content: center;
    align-items: center;
}

ul {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu_list {
    width: 14%;
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
}



#main {
    width: 100%;
    height: 75%;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;    
}

.post img {
    width: 100%;
    height: 90%;
    background-repeat: no-repeat;
    background-size: cover;
}

#post_list {
    margin: 0 auto;
    width: 80%;
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#first_floor {
    width: 100%;
    height: 42.5%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2.5%;
}

#second_floor {
    width: 100%;
    height: 42.5%;
    margin-top: 2.5%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.post {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.post:nth-child(1) {
    flex: 1;
    height: 100%;
    margin-right: 2%;
}

.post:nth-child(2) {
    flex: 1;
    height: 100%;
    margin-right: 2%;
    margin-left: 2%;
}

.post:nth-child(3) {
    flex: 1;
    height: 100%;
    margin-left: 2%;
}

#search_hide {
    display: none;
    width: 100%;
    height: 84.6%;
    position: absolute;
    top: 15.4%;
    background: rgba(0, 0, 0, 0.53);
}

#footer {
    width: 100%;
    height: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#page_number {
    font-weight: bold;
    font-size: 18px;
}